[submodule "vimfiles/bundle/Vundle.vim"]
	path = vimfiles/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "pack/yegappan/start/mru"]
	path = pack/yegappan/start/mru
	url = https://github.com/yegappan/mru
