[submodule "pack/yegappan/start/mru"]
	path = pack/yegappan/start/mru
	url = https://github.com/yegappan/mru
[submodule "pack/tpope/start/vim-commentary"]
	path = pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/takac/start/vim-hardtime"]
	path = pack/takac/start/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "pack/martinda/start/Jenkinsfile-vim-syntax"]
	path = pack/martinda/start/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax
[submodule "pack/beyondmarc/start/hlsl"]
	path = pack/beyondmarc/start/hlsl
	url = git@github.com:beyondmarc/hlsl.vim.git
[submodule "pack/beyondmarc/start/glsl"]
	path = pack/beyondmarc/start/glsl
	url = git@github.com:beyondmarc/glsl.vim.git
[submodule "pack/PProvost/start/vim-ps1"]
	path = pack/PProvost/start/vim-ps1
	url = git@github.com:PProvost/vim-ps1.git
